﻿@{
    ViewBag.Title = "Tribalingua Verb Test - Pass Left";
    ViewBag.PageDescription = "Pass Left";
    ViewBag.PageIcon = "check";
}

@using (Html.BeginForm())
{    
    <h2 id="h2Title" data-bind="text: Title"></h2>
    
    <div data-bind="foreach: Verbs">

        <div data-role="fieldcontain" data-bind="attr: {id:id}">
            <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
                <input data-theme="e" type="checkbox" data-bind="checked: correct, attr: { id: id }">
                <label for="checkbox1" data-bind="text: verb, attr: { for: id }"></label>
            </fieldset>
        </div>

    </div>
    
@*  
    
    <div id="checkboxes2" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
            <input id="checkbox2" name="" data-theme="e" type="checkbox" checked="checked">
            <label for="checkbox2">
                Cut               
            </label>
        </fieldset>
    </div>
    
    <div id="checkboxes2" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
            <input id="checkbox2" name="" data-theme="e" type="checkbox">
            <label for="checkbox2">
                Broadcast               
            </label>
        </fieldset>
    </div>*@
    
    <input type="submit" value="Submit">
}

@section scripts {

    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">

        var Verb = function verbModel(data) {
            this.id = ko.observable('checkbox' + data.id);
            this.verb = ko.observable(data.verb);
            this.correct = ko.observable(data.correct);
        }

        var ViewModel = function (verbs) {
            var self = this;
            self.Name = ko.observable("Danimar Ribeiro");
            self.Verbs = ko.observableArray(verbs);
            self.Title = ko.computed(function () {
                var length = ko.utils.arrayFilter(self.Verbs(), function (item) {
                    return item.correct() == true;
                }).length;
                return self.Name() + " - " + length + " out of " + self.Verbs().length;
            }, this);
        };

        var myModel = new ViewModel([]);
        ko.applyBindings(myModel);
        
        $(document).bind('pageinit', function () {
            $.getJSON('@Url.Action("VerbsTeam", "Mobile")', function (value) {
                myModel.Verbs(ko.utils.arrayMap(value, function (verb) {
                    return new Verb(verb);
                }));
                $('#welcomeView-content').trigger('create');
            });
        });
    </script>
}