﻿@{
    ViewBag.Title = "About";
    ViewBag.PageDescription = "Pass Left";
    ViewBag.PageIcon = "check";
}

@using (Html.BeginForm())
{    
    <h2>Danimar Ribeiro</h2>
    
    <div id="checkboxes1" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
            <input id="checkbox1" name="" data-theme="e" type="checkbox">
            <label for="checkbox1">
                Put               
            </label>
        </fieldset>
    </div>
    
    <div id="checkboxes2" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
            <input id="checkbox2" name="" data-theme="e" type="checkbox" checked="checked">
            <label for="checkbox2">
                Cut               
            </label>
        </fieldset>
    </div>
    
    <div id="checkboxes2" data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="vertical" data-mini="true">
            <input id="checkbox2" name="" data-theme="e" type="checkbox">
            <label for="checkbox2">
                Broadcast               
            </label>
        </fieldset>
    </div>
    
    <input type="submit" value="Submit">
}
