﻿@{
    ViewBag.Title = "Home Page";
    ViewBag.PageDescription = "Training";
    ViewBag.PageIcon = "home";
}
@section featured {

}

@using (Html.BeginForm())
{    
    <h2>(3/10) - Rise
    </h2>
    <div data-role="fieldcontain">
        <label for="textinput2">
            Past
        </label>
        <input name="" id="textinput2" placeholder="" value="" type="text"  data-mini="true">
    </div>
    <div data-role="fieldcontain">
        <label for="textinput3">
            Participle
        </label>
        <input name="" id="textinput3" placeholder="" value="" type="text"  data-mini="true">
    </div>
     <div data-role="fieldcontain">
        <label for="textinput3">
            Infinitive
        </label>
        <input name="" id="textinput4" placeholder="" value="" type="text"  data-mini="true">
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <a data-role="button" href="#page3">Skip
                </a>
        </div>
        <div class="ui-block-b">
            <a data-role="button" data-theme="a" href="#page3">Check
                </a>
        </div>
    </div>
}

