﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/Content/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/Content/flat/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @if (Request.Browser.IsMobileDevice)
                        {
                            <li><a href="@Url.Action("SwitchView", "ViewSwitcher", new { mobile = true, returnUrl = "/" })" data-transition="slide">Mobile</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderSection("featured", required: false)
    
    
    <div class="row demo-row">
        <div class="span9">
          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                <div class="nav-collapse collapse" id="nav-collapse-01">
                  <ul class="nav">
                    <li>
                      <a href="#fakelink">
                        Menu Item
                        <span class="navbar-unread">1</span>
                      </a>
                    </li>
                    <li class="active">
                      <a href="#fakelink">
                        Messages
                        <span class="navbar-unread">1</span>
                      </a>
                      <ul>
                        <li><a href="#fakelink">Element One</a></li>
                        <li>
                          <a href="#fakelink">Sub menu</a>
                          <ul>
                            <li><a href="#fakelink">Element One</a></li>
                            <li><a href="#fakelink">Element Two</a></li>
                            <li><a href="#fakelink">Element Three</a></li>
                          </ul> <!-- /Sub menu -->
                        </li>
                        <li><a href="#fakelink">Element Three</a></li>
                      </ul> <!-- /Sub menu -->
                    </li>
                    <li>
                      <a href="#fakelink">
                        About Us
                      </a>
                    </li>
                  </ul>
                </div><!--/.nav -->
              </div>
            </div>
          </div>
        </div>        
      </div>
    
    		
    <div class="container">
        @RenderBody()
    </div>
    <!-- /.container -->
    <!-- Load JS here for greater good =============================-->
    @Scripts.Render("~/bundles/jquery")

    <script src="/Scripts/flat/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/Scripts/flat/jquery.ui.touch-punch.min.js"></script>
    <script src="/Scripts/flat/bootstrap.min.js"></script>
    <script src="/Scripts/flat/bootstrap-select.js"></script>
    <script src="/Scripts/flat/bootstrap-switch.js"></script>
    <script src="/Scripts/flat/flatui-checkbox.js"></script>
    <script src="/Scripts/flat/flatui-radio.js"></script>
    <script src="/Scripts/flat/jquery.tagsinput.js"></script>
    <script src="/Scripts/flat/jquery.placeholder.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
