﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mobile Version</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/mobilecss")
    @Styles.Render("~/Content/jquerymobilecss")
</head>
<body>
    <!-- Home -->
    <div data-role="page" id="page1">
        <div data-role="panel" id="panel1" data-position="left" data-display="reveal" data-theme="a">
            <ul data-role="listview" data-divider-theme="h" data-inset="false">
                <li data-role="list-divider" role="heading">Menu
            </li>
                <li data-theme="a">
                    <a href="@Url.Action("Index", "Mobile")" data-transition="slide">Home
                </a>
                </li>
                @if (Request.IsAuthenticated)
                {
                    <li data-theme="a">
                        <a href="@Url.Action("PassLeft", "Mobile")" data-transition="slide">Pass Left
                </a>
                    </li>
                    <li data-theme="a">
                        <a href="@Url.Action("Training", "Mobile")" data-transition="slide">Training
                </a>
                    </li>
                    <li data-theme="a">
                        <a href="@Url.Action("Score", "Mobile")" data-transition="slide">Score
                </a>
                    </li>
                    <li data-theme="a">
                        <a href="@Url.Action("MyProgress", "Mobile")" data-transition="slide">My progress
                </a></li>                                   
                }
                <li data-theme="a">
                    <a href="@Url.Action("SwitchView", "ViewSwitcher", new { mobile = false, returnUrl = "/" })" data-transition="slide">Full version</a>
                </li>
            </ul>
        </div>

        <div data-theme="a" data-role="header">
            <a data-controltype="panelbutton" data-role="button" href="#panel1" data-icon="bars"
                data-iconpos="left">Menu
            </a>
            <h3>Triba App            
            </h3>
            @Html.Partial("_LoginPartial")
            @RenderSection("featured", required: false)
        </div>
        <div data-role="content" id="welcomeView-content">
            <div data-role="navbar" data-iconpos="right">
                <ul>
                    <li>
                        <a href="#" data-transition="fade" data-theme="b" data-icon="@ViewBag.PageIcon" class="ui-btn-active ui-state-persist">@ViewBag.PageDescription
                        </a>
                    </li>
                </ul>
            </div>
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        <script>
            $(document).on("mobileinit", function () {
                $.mobile.ajaxEnabled = true;
            });
        </script>
        @Scripts.Render("~/bundles/jquerymobile")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
